<a href="https://colab.research.google.com/github/shaniasinha/PDS_Tutorial_2022/blob/main/PDS_Tutorial_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# So far in your projects:
- Please x3 comment your code
- (please upload your notebook/file) :)
- 3 github links missing üòæ

# Example Project 4 Tutorialzzz
>Author: Shania Sinha

>Date: 17 November, 2022



> "Any fool can write code that a computer can understand. Good programmers write code that humans can understand.‚Äù
>
>
>> ‚Äì Martin Fowler

Some suggested tasks:

1. Understanding what content is available in different countries (ü§ì)
2. Identifying similar content by matching text-based features (ü§®)
3. Network analysis of Actors / Directors and find interesting insights (üßê)
4. Does Netflix has more focus on TV Shows than movies in recent years? (üòè)

## Load Libraries

In [ ]:
# Please leave commments in your code!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load the dataset

In [ ]:
# Reading a sample dataset
df = pd.read_csv("/content/netflix_titles.csv")

## Check the dataset

In [ ]:
# Get preview of the dataset
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
# Check the datatypes for our dataframe using df.dtypes
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [ ]:
# Descriptive statistics of the dataset
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

Turns out, the descriptive statistics are pretty useless since most of our data is text (strings).

In [ ]:
# Check for null values in the dataset
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
# Check what fraction of all observations is null
for i in df.columns:
    null_rate = df[i].isna().sum() / len(df) * 100
    if null_rate > 0.0:
      print("{}: {}%".format(i,round(null_rate,2)))

director: 29.91%
cast: 9.37%
country: 9.44%
date_added: 0.11%
rating: 0.05%
duration: 0.03%

From the results above, we can see that the variable **director** has the highest number of null values. 

**cast** and **country** have similar number of missing (or null) values.

## Cleaning the dataset

Here, we get to make the choice of what we want to keep and what we want to remove from our dataset. 

I am making the following choices:

*Remove all rows where **date_added** is null.* 
> **date_added** refers to the date when the media content was added to Netflix. This information is useful for our analysis but the number of missing observations compared to the size of the population is very small.


*Remove all rows where **rating** is null.* 
> **rating** refers to the how well-liked the media content is by the audience. This information is useful for our analysis but the number of missing observations compared to the size of the population is very small.


*Remove all rows where **duration** is null.* 
> **duration** refers to the length of the media content. This information may be useful for our analysis but the number of missing observations compared to the size of the population is very small.

In [ ]:
# What about the null values in director, cast and country???

In [ ]:
df['country'].mode()

0    United States
dtype: object

In [ ]:
# Netflix is an American company and the mode of the 'country' column is the US 
# Should we drop NAs? Or should we assume the country of origin of the show/movie is the USA?

In [ ]:
# I don't want to drop films just because the director isn't listed
# If i do drop those rows, I will lose around 30% of the dataset

In [ ]:
df['director'].replace(np.nan, 'No Data',inplace  = True)

In [ ]:
# I want to conduct a network analysis between directors and actors
# Hence, same as directors, I will replace NA with "No Data"

In [ ]:
df['cast'].replace(np.nan, 'No Data',inplace  = True)

In [ ]:
# I decide that I don't want to lose all the information in a row, even if the country is missing

In [ ]:
df['country'].replace(np.nan, 'No Data',inplace  = True)

In [ ]:
# Get preview of the dataset
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
# Drop all NA values
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,No Data,No Data,No Data,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### Next Up:


*   Change **date** format?
*   Get started on Visualization :)